<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Converter</title>
    <link rel="stylesheet" href="style2.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
</head>

<body>    
    <div id="app0">
        <div class="link">
            <a href="#" v-on:click="page1 = 1" id="hop"> </a>
            <a href="#" v-on:click="page1 = 0"></a>
        </div>
        <div id="app" >
            <div class="baseVal">
                <div>Base Currency:</div>
                <select id="c0" v-model="val0Value">
            <option v-for="item in items" :value="item.cur">{{ item.name }}</option> 
         </select>
            </div>
			
			
			
            <div v-if="page1 == 0" class="countCur">
                <select id="c1" v-model="val1Value">
            <option v-for="item in items" :value="item.cur">{{ item.name }}</option>
        </select>
                <input type="text" id="vx" v-model="val1x">
                <strong>-></strong>
                <span>{{count()}}</span>
                <select id="c2" v-model="val2Value">
            <option v-for="item in items" :value="item.cur">{{ item.name }}</option>
        </select>
            </div>
        </div>

        <div id="app1" v-if="page1 == 1">
            <table class="table">
                <thead>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td>{{ item.name }}</td>
                        <td>{{ Math.round(item.cur / val0Value*1000)/1000 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="vue.js"></script>
    <script src="app.js"></script>
</body>

</html>
