* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

img {
    border: 0;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}

:focus {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

.c {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
}

a {
    color: #00f;
    white-space: nowrap;
}


/* a:hover {
    color: #1977a6;
} */

body {
    line-height: 1;
    color: #000;
    width: 100%;
    font: 12px Verdana, Geneva, sans-serif;
    background-color: #67839b;
    -webkit-text-size-adjust: 80%;
}

ul {
    list-style: none;
}

ol {
    list-style-position: inside;
}

b,
strong {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

button::-moz-focus-inner {
    margin: 0;
    padding: 0;
    border: 0;
}

form,
input,
textarea,
select {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* ----------------------------------------- */

#app {
    max-width: 600px;
    width: 100%;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#app span {
    width: 150px;
    height: 20px;
    background: #BBB;
    display: flex;
    align-items: center;
    padding: 0 5px;
    border: 1px solid rgb(190, 190, 190);
    margin: 0 10px;
}

#app select {
    width: 111px;
    padding-left: 7px;
    height: 22px;
    display: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/arrow.png") no-repeat;
    background-position: right 7px center;
    background-color: #ccd8e4;
    color: #444556;
}

.baseVal {
    /* float: left; */
    justify-content: flex-start;
}

.countCur {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

#app input {
    width: 150px;
    height: 22px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 5px;
    border: 1px solid rgb(190, 190, 190);
    margin: 0 10px;
}

a {
    color: #fff;
    text-decoration: none;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 32, 139);
    margin: 10px;
}

.link {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

#app1 {
    max-width: 600px;
    width: 100%;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    color: rgb(255, 255, 255);
}

.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
    color: rgb(24, 24, 24);
}

.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}


/* ----------------------------------------- */